@model Student

<h2>Add Student</h2>
<hr>    
<form asp-controller="Student" asp-action="Create" method="post">
    <div class="mb-3">
        <label asp-for="StudentName" class="form-label">Student Name</label>
        <input asp-for="StudentName" class="form-control">
    </div>
    <div class="mb-3">
        <label asp-for="StudentSurname" class="form-label">Student Surname</label>
        <input asp-for="StudentSurname" class="form-control">
    </div>
    <div class="mb-3">  
        <label asp-for="Email" class="form-label">Email</label>
        <input asp-for="Email" class="form-control">
    </div>
    <div class="mb-3">
        <label asp-for="Phone" class="form-label">Phone</label>
        <input asp-for="Phone" class="form-control">
    </div>
    
    <button type="submit" class="btn btn-secondary">Submit</button>

</form>