@model Student

<h2>Student Update</h2>
<hr>

<div class="row">
    <div class="col-8">
        <form asp-controller="Student" asp-action="Edit" method="post">
            <input type="hidden" asp-for="StudentId">
            <div class="mb-3">
                <label asp-for="StudentName" class="form-label">Student Name</label>
                <input asp-for="StudentName" class="form-control">
            </div>
            <div class="mb-3">
                <label asp-for="StudentSurname" class="form-label">Student Surname</label>
                <input asp-for="StudentSurname" class="form-control">
            </div>
            <div class="mb-3">
                <label asp-for="Email" class="form-label">Email</label>
                <input asp-for="Email" class="form-control">
            </div>
            <div class="mb-3">
                <label asp-for="Phone" class="form-label">Phone</label>
                <input asp-for="Phone" class="form-control">
            </div>

            <button type="submit" class="btn btn-secondary">Submit</button>

        </form>
    </div>
    <div class="col-4">
        <h4>Courses</h4>
        <hr>
        <ul>
            @foreach(var item in Model.CourseRegisters)
            {
                <li>@item.Course.Title</li>
            }
        </ul>
    </div>
</div>
